{% extends 'teacherDB.html' %}
{% block trdash1 %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<ul class="nav mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="chapter-tab" data-toggle="pill" href="#chapter" role="tab" aria-controls="chapter" aria-selected="true">Add New Chapter</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">View</a>
  </li>
  <!-- <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li> -->
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="chapter" role="tabpanel" aria-labelledby="chapter-tab">
    <form action="chapterMN" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="">Select Class:</label>
        <select name="class_name" class="form-control" id="class_name" onchange="displaySubjects()">
          <option value="">Please select class</option>
          {% for x in classdetails %}
          <option value="{{x.id}}">{{x.classes}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="">Select subject:</label>
        <select name="subject_name" class="form-control" id="subject_name">
          <option value="">Please select subject</option>
          <!-- {% for x in subj %}
          <option value="{{x.id}}">{{x.subject}}</option>
          {% endfor %} -->
        </select>
      </div>
      <div class="form-group">
        <label for="">Chapter:</label>
        <input type="text" class="form-control" id="chapter" name="chapter">
      </div>
      <button type="submit" class="btn btn-primary">Add Chapter</button>
    </form>
    {{message}}
  </div>


  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">



  </div>
  <!-- <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div> -->
</div>
<script>
  $.ajaxSetup({
      headers : { "X-CSRFToken" : '{{csrf_token}}' }
  });
  function displaySubjects(){
      // alert('hellooo')
      $.ajax({
          url:'subjectOfClass',
          type:'POST',
          data:{
                classID:$('#class_name').val(),
                },
          success:function(response){
                    userdata=response.data
                    // console.log(userdata)
                    $('.subj').remove();
                    for(i=0;i<=userdata.length-1;i++){
                        $('#subject_name').append("<option value='"+userdata[i].id+"' class='subj'>"+userdata[i].subject+"</option>")
                    }

                    
                }
      })
  }

</script> 
   
{% endblock %}




