{% extends 'teacherDB.html' %}
{% block trdash1 %}
{% load static %}
<div class="card card-profile">
    <table class="table-profile mt-3 mb-5" align="center">
        <tr>
            <td align="center"><h2>Profile</h2></td>
        </tr>
        <tr>
            <td><img class="mt-4 mb-5" src="/{{userdata.profile_pic}}" alt="" height="150" width="150"></td>
        </tr>
       
        <tr>
            
            <td>first name:</td>
            <td>{{userdata.first_name}}</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>{{userdata.last_name}}</td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>{{userdata.dob}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{userdata.email}}</td>
        </tr>
        <tr>
            <td>contact</td>
            <td>{{userdata.contact}}</td>
        </tr>
        <tr>
            <td>address</td>
            <td>{{userdata.address}}</td>
        </tr>
        
    </table>
  </div>


   
{% endblock %}




