a{
    color: black;
}
.a1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.a2{
  color: white;
  font-size: 20px;
}


.bimg2{
 background-color: white;
  
}
.list1{
  
  background-color: white;
  /* min-height: 800px; */
}
.listm{
  background: transparent;
  border: none;
  font-size: 18px;
  color: black;   
}
/* a:hover{
  font-size: 21px;
  background-color: white;
  color: black
} */

.eve{
 width: 600px;
}
.imgsz{
  height: 400px;
  width: 600px;
}
.dash{
  height: fit-content;
}
.ft{
  background-color: white;
  height: 200px;
}
.bg3{
  /* background-image: url('../img/school2.jpg'); */
  background-color: white;
}
.login{
  /* height: 120px; */
  background-color: white;
  
  
}
.buttonL{
  width: 140px;
  margin-top: 30px;
}
.signup{
  padding-top: 10px;
}
small{
  color: red;
}
.caro_img{
  height: auto;
  width: 100%;
}
.quest{
  font-size: 20px;
}
.nav2{
  background-color:transparent
}


.side-navitem {
  border: none;
  background-color:transparent
}



/* chat.. */
.chatbody {
  
  min-height: 500px;
}




.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.vw-chapt-btn{
  margin-top: 30px;
}
.select-user-button{
  margin: 5%;
  width: 20%;
  height: 80px;
  background: linear-gradient(rgb(115, 115, 160),grey);
  box-shadow: rgb(134, 132, 132) 2px 2px 2px 2px;
  text-align: center;
  font-size: large;
}
.select-user-button:hover{
  background: linear-gradient(pink,grey);
}
.div-center{
  text-align: center;
}
.div-login{
  
  width: 50%;
  height: auto;
  margin: 10% 10% 10% 10%;
}
.login-card{
  margin: 100px;
}
.btn-profile{
  margin-left: 2%;
  width: 20%;
}

