{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">

    <style>
        form {
            margin: 100px;
            margin-top: 55px;
        }
        
        h1 {
            color: green;
            margin-top: 15px;
        }
        
        small {
            color: red;
        }
        
        .logincard {
            background-color: lightcoral;
        }
        
        header {
            margin-top: 0px;
            background-color: lightcoral;
        }
        #note-pswd{
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container">
        
            


                <h3 class="display2" align="center">Update Profile</h3>
                <form action="/updatestudentProfile" method="POST" id="form12"  name="valform" onsubmit="return validate()" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="">Name:</label>
                        <input type="text" class="form-control" id="name1" name="name1" value="{{data.name}}">
                        <small id="err_name1" class=""></small>
                    </div>

                    <div class="form-group">
                        <label for="">Date of Birth:</label>
                        <input type="date" class="form-control" id="dob1" name="dob1" value="{{data.dob}}">
                        <small id="errdob" class=""></small>
                    </div>
                    
                    <div class="form-group">
                        <label for="">contact no:</label>
                        <input type="number" class="form-control" id="contact1" name="contact1" value="{{data.contact}}">
                        <small id="errcontact" class=""></small>
                    </div>
                    
                    <div class="form-group">
                        <label for="">password:</label>
                        <input type="password" class="form-control" id="password1" name="password1" value="{{data.password}}">
                        <small id="errpassword1" class=""></small>
                        <P id="note-pswd">Password should contain numbers, symbols, upper and lower characters</P>
                    </div>
                    
                    
                    
                    <div class="form-group">
                         <label for="">Profile picture:</label>
                        <div class="custom-file mb-3">
                            <input type="file" accept="image/*" class="custom-file-input" name="profPic" id="profPic" value="{{data.profile_pic}}">
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <small id="err_pic" class=""></small>
                          </div>
                      </div>

                    <button type="" class="btn btn-primary">Update</button>
                </form>
                {{message}}
            </div>



            <!-- validation -->
           
            <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
</body>

</html>